<!DOCTYPE html>



<html lang="en">

<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">
<style>
  body {
    padding: 1em
  }
</style>
</head>

<body>
  <% include partials/_header %>

  <br>
  <a href='/urls/new'>Create new tinyURL</a>
  <p>
    <p>
      <h3>TinyURL for →
      </h3>
      <h3>
        <a href=<%=longURL%>>
          <%= longURL %></a>
      </h3>
      <h3>
        <a href=<%=longURL%>>
          <%= shortURL %></a>
      </h3>
      <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control col-6" id="longURL" type="text" name="longURL" placeholder="http://">
        <button type="submit" value="submit">Submit</button>
      </form>
    </p>
  </p>
</body>

</html>