<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <title>TinyApp</title>
  <style>
    body {
    padding: 1em
  }
</style>
</head>

<body style="font-size:20px; padding:50px;">

  <% include partials/_header %>
  <h3>My URLs</h3>

  <a href='/urls/new'>Create new tinyURL</a>

  <br></br>

  <ul>
    <% for(let key in urls){%>
    <li>
      Short:
      <a href=<%=`/u/` + key%>>
        <%=` ${key}` %></a>&nbsp &nbsp
      Long:
      <a href=<%=urls[key].longURL%>>
        <%=` ${urls[key].longURL}` %></a>&nbsp &nbsp

      <a class="btn btn-primary" href="<%=`/urls/${key}`%>"> Edit </a>
      <form action=<%=`/urls/${key}/delete`%> method="POST">
        <button type="delete" class="btn btn-primary">Delete</button>
      </form>
    </li>

    <%};%>
  </ul>

</body>

</html>